.Header{
    font-size: 30px;
    margin-left: 14px;
}

.ModelDetailPageLabelPreis{
    font-size: 25px;
    margin-top: 15px;
}

.ModelDetailPageUeberschrBesch{
    font-size: 25px;
    margin-top: 30px;
    color: black;
    margin-bottom: 10px;
}

.ModelDetailPageUeberschrTeile{
    font-size: 25px;
    color: black;
    margin-bottom: 10px;
}

.ModelDetailPageInput{
    font-size: 20px;
    margin: 15px;
    float: right;
    color: black;
}

.ModelDetailPageSaveButton{
    margin-top: 50px;
    width: 100%;
}

.TextTabelleMasterPage{
    margin: 5px;
}

.ButtonHeader{
    margin-right: 20px;
}

.ButtonHeaderDropDown{
    margin-right: 35px;
}

.ModelCreatePageLabel{
    margin-top: 15px;
}

.ModelCreatePageButton{
    margin-top: 50px;
    width: 100%;
}

.ModelCreatePageButtonUpload{
    margin-left: 5px;
}

.title{
    font-size: 30px;
    text-align: center;
    text-decoration: solid;
    font-weight: bold;
}
