.Header{
    font-size: 40px;
    margin-left: 14px;
}

.LabelCellPreis{
    font-size: 25px;
    margin-top: 15px;
}

.LabelCellBesch{
    font-size: 25px;
    margin-top: 30px;
    color: black;
    margin-bottom: 10px;
}

.LabelCellTeile{
    font-size: 25px;
    color: black;
    margin-bottom: 10px;
}

.TextCellPreis{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 40px;
}

.TextCellBesch{
    font-size: 20px;
}

.TextTabelleMasterPage{
    margin: 5px;
}

.ButtonHeader{
    margin-right: 20px;
}

.ButtonHeaderDropDown{
    margin-right: 35px;
}
